sqlmodel
fastapi
pandas
joblib
psycopg2-binary
uvicorn[standard]
scikit-learn
prometheus-client
prometheus-fastapi-instrumentator



# Pour les notebook :
# matplotlib>=3.5.0
# numpy>=1.23.0
# seaborn>=0.12.0
# catboost>=1.1
